<?xml version="1.0"?>
<robot name="kinect2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find rls_robot_description)/urdf/sensors/kinect2/kinect2.gazebo.xacro"/>

  <xacro:macro name="dummy_inertial">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0.00001" ixy="0" ixz="0"
               iyy="0.00001" iyz="0"
               izz="0.00001"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="kinect2" params="name parent *origin *optical_origin">
    <!-- =============== Link =============== -->

    <!-- frames in the center of the camera -->
    <link name="${name}_link">
      <inertial>
        <origin xyz="-0.00936000000 -0.00003000000 -0.00273000000" rpy="0 0 0"/>
        <mass value="0.21970000000"/>
        <inertia ixx="0.00000429247" ixy="0.00000000000" ixz="0.00000002565"
                 iyy="0.00000008027" iyz="0.00000000000"
                 izz="0.00000427339"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rls_robot_description/meshes/dae/kinect.dae"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>

    <link name="${name}_scan">
      <dummy_inertial/>
    </link>

    <link name="${name}_depth_frame">
      <dummy_inertial/>
    </link>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0.0 ${-90.0 * deg_to_rad}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>

    <link name="${name}_depth_optical_frame">
      <dummy_inertial/>
    </link>

    <link name="${name}_optical_frame">
      <dummy_inertial/>
    </link>

    <link name="${name}_rgb_frame">
      <dummy_inertial/>
    </link>

    <link name="${name}_rgb_optical_frame">
      <dummy_inertial/>
    </link>

    <!-- ===============  Joint =============== -->

    <!-- frames in the center of the camera -->
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <joint name="${name}_optical_joint" type="fixed">
      <xacro:insert_block name="optical_origin"/>
      <parent link="${name}_link"/>
      <child link="${name}_optical_frame"/>
    </joint>

    <joint name="${name}_scan_joint" type="fixed">
      <origin xyz="0.0 0.049 0.0" rpy="0 0 0"/>
      <parent link="${name}_optical_frame"/>
      <child link="${name}_scan"/>
    </joint>

    <!-- Depth sensor frames -->
    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0.0 0.049 0.0" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_depth_frame"/>
    </joint>

    <!-- RGB sensor frames -->
    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0.0 0.022 0.0" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame"/>
    </joint>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0.0 ${-90.0 * deg_to_rad}"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>

    <!-- =============== Gazobo =============== -->
    <xacro:kinect2_gazebo name="${name}"/>
  </xacro:macro>

</robot>
