<?xml version="1.0" ?>
<robot name="mobile_base" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="true"/>

  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find rls_robot_description)/gazebo/gazebo.urdf.xacro"/>

  <!-- Materials for visualization -->
  <xacro:include filename="$(find rls_robot_description)/urdf/common.xacro"/>

  <!-- Base -->
  <xacro:include filename="$(find rls_robot_description)/urdf/mobile_base/mobile_base.urdf.xacro"/>

  <!-- Define KinectV2 -->
  <xacro:if value="$(arg prefix)">
    <xacro:include filename="$(find rls_robot_description)/urdf/sensors/kinect2/kinect2.urdf.xacro"/>
    <xacro:kinect2 name="kinect2" parent="base_link">
      <origin xyz="0.3 0 0.495" rpy="0 0 0"/>
      <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}"/>
    </xacro:kinect2>
  </xacro:if>

</robot>
