<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gripper_transmission" params="name reduction">
    <transmission name="prismatic_finger_${name}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="prismatic_finger_${name}">
	<!-- <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> -->
	<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
	<!-- <hardwareInterface>EffortJointInterface</hardwareInterface> -->
      </joint>
      <actuator name="prismatic_finger_${name}_motor">
	<mechanicalReduction>${reduction}</mechanicalReduction>
	<!-- <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> -->
	<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
	<!-- <hardwareInterface>EffortJointInterface</hardwareInterface> -->
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
